.formBlock {
    position: absolute;
    top: 375px;
    z-index: 999;
    right: 200px;
    width: 350px; 
    height: 300px; 
    padding: 20px; 
    border: 1px solid;
    background-color: white;
    border-radius: 6px;
}
.caption p {
    font-size: 16px;
    padding: 0 80px;
    text-indent: 25px;
    line-height: 1.5;
}
.caption h3 {
    padding: 0 80px;
}
.caption a {
    text-decoration: underline;
    padding: 250px;
}
.thumbnail {
    border: none;
}
.mainInfo {
    padding: 100px 100px 50px;
    font-size: 16px;
    line-height: 1.5;
    text-indent: 25px;
}
.formBlock button {
    float: right;
    margin-top: 20px;
}
.itemNews {
    margin-top: 50px;
}
.mapInfo {
    font-size: 16px;
    line-height: 1.5;
    text-indent: 25px;
    margin-left: -300px;
}
#submit {
    float: right;
    margin-right: -293px;
}
.contact {
    text-decoration: underline;
}
.footerArticle {
    border-right: 1px solid;
    font-size: 16px;
    line-height: 1.5;
    margin-left: -300px;
    padding-right: 50px;
}
@media screen and (max-width: 767px) {
	.masonry[data-columns]::before {
		content: '1 .col-xs-12';
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.masonry[data-columns]::before {
		content: '2 .col-xs-6';
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.masonry[data-columns]::before {
		content: '3 .col-xs-4';
	}
}

@media screen and (min-width: 1200px) {
	.masonry[data-columns]::before {
		content: '3 .col-xs-4';
	}
}
